<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdScrubber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ContentBlocker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C46AC46E1C03FB87008039D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46AC4821C03FB87008039D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46AC48D1C03FB87008039D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46AC4A31C03FBD6008039D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46F59471C5EBA9200E0F596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
